<div class="sidebar">
    <div class="sidebar__list">
        <a href="/products/add-product">   <li class="sidebar__item"> <img src="/images/shopping-cart.png" alt="~" class="icon"> Add Product </li> </a> 
        <a href="/products"> <li class="sidebar__item" > <img src="/images/product-management.png" alt="+"  class="icon">  Products  </li> </a>
    
    </div>
</div>